img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
div1{
 color: red;
 size: 30cm;
 text-align: center;
 font-weight: bolder;

}
div2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal ;
    text-align: center;
    text-indent: 2%;
    text-decoration-style: double;
    font-size: larger;
    text-shadow: 38cm;

}
button{
    width: 2cm;
    background-color: azure;
    color: black;
    border-color: black;
    border-style: groove;
    border-radius: 3cm;
    vertical-align: middle;
   

}
